@font-face {
    font-family: 'Roboto Black';
    font-weight: 900px;
    font-style: normal;
    font-display: swap;
    src: url('Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    font-weight: bold;
    src: url('Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    font-weight: 300px;
    src: url('Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Medium';
    font-weight: 500px;
    src: url('Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-SemiBold';
    font-weight: 600px;
    src: url('Roboto-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Thin';
    font-weight: 100px;
    src: url('Roboto-Thin.ttf') format('truetype');
}