.edit-button .start-button {
    -fx-text-fill: white;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
}

.edit-button {
    -fx-background-color: #2196F3;
}

.start-button {
    -fx-background-color: #FF5722;
}
