#instances-root {
    -fx-background-radius: 0 0 20 0;
}

.label {
    -fx-text-fill: black;
}

.list-view {
    -fx-padding: 3;
    -fx-background-color: darkred;
    -fx-background-radius: 0 0 30 0;
}

.list-cell {
    -fx-cell-size: 80;
    -fx-background-color: transparent, -fx-background;
    -fx-background-radius: 20px;
    -fx-background-insets: 0, 10;

    /*Moves the content of the cell, 10 (for the background inset) and another 10 (for the actual padding)*/
    -fx-padding: 20px;
}

.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}