@import "../font/roboto.css";

.root-pane {
    -fx-background-color: #141617;
    -fx-background-radius: 30;
    -fx-border-radius: 30;

    -fx-font-family: Roboto;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}