.window-header {
    -fx-padding: 10 20 10 20;
}

.window-header-buttons {
    -fx-alignment: center-right;
    -fx-spacing: 10;
}

.close-icon {
    -mfx-color: #ff0000;
    -fx-opacity: 1;
}

.close-icon:hover {
    -fx-opacity: 1.3;
}

.close-icon:pressed {
    -mfx-color: #ff0000;
    -fx-opacity: 1.5;
}

.minimize-icon {
    -mfx-color: #FFBF37;
    -fx-opacity: 1;
}

.minimize-icon:hover {
    -fx-opacity: 1.5;
}

.always-on-top-icon {
    -mfx-color: purple;
    -fx-opacity: 1.0;
}

.always-on-top-icon:hover {
    -fx-opacity: 1.5;
}

.always-on-top-icon:always-on-top {
    -fx-opacity: 1.5;
}
